<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785424138885-6gcuv63hqjhcu810dfha6t4mpg3deqts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785424138885-6gcuv63hqjhcu810dfha6t4mpg3deqts</string>
	<key>API_KEY</key>
	<string>AIzaSyCUtNi6jfLMNotAfaX700aSnJTQGw1Olmw</string>
	<key>GCM_SENDER_ID</key>
	<string>785424138885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ABLEAPP</string>
	<key>PROJECT_ID</key>
	<string>able-app-52353</string>
	<key>STORAGE_BUCKET</key>
	<string>able-app-52353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785424138885:ios:78eeffa3a1c7c3395a1fec</string>
	<key>DATABASE_URL</key>
	<string>https://able-app-52353-default-rtdb.firebaseio.com</string>
</dict>
</plist>